extends partial/layout

block container
    if page.type === "wiki" || page.type === "about"
        include mixins/wiki
        +wiki(page)

//-
    else
        include mixins/post
        +postList()
        h3 hijklmn

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
