extends partial/layout

block container
    include mixins/post
    h3(class='archive-year')= page.tag
    +postList()

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright
