$grey: #eeeeee;
$metalgrey: #bbcad2;
$darkgrey: #2e2e2e;
$washedblack: #34495e;
$gold: #d78700;
$darkgreen: #005f87;
$lightgreen: #42b983;
$creamgreen: #00afaf;
$palegreen: #87afaf;
$teal: #0087af;
$blue: #2472b6;
$paleblue: #5f87af;
$deeppurple: #875f87;
$palepurple: #8787af;
$lightpurple: #afafff;
$paleviolet: #af87af;
$hotpink: #ff5f87;
$darkpink: #af5f87;

$primary-color: $lightgreen;
$supplement-color: $paleviolet;
$code-sign-color: $metalgrey;
$text-color: $washedblack;

::selection {
    color: #FFFFFF;
    background-color: $primary-color;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: $text-color;
    font-size: 17px;
    line-height: 1.4;
    background-color: #FFFFFF;
    font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
}

ul.nav,
ul.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tag-title {
    font-size: 1em;
    color: $primary-color;
    padding-left: 10px;
}

ul {
    margin: 1rem 0;
}

a, a:active {
    color: #2c3e50;
    text-decoration: none;
}

a.nav-list-link.active,
a.nav-list-link:hover,
a.post-title-link:hover {
    border-bottom: 2px solid $primary-color;
}

hr {
    border: 0;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #e96900;
    border-radius: 2px;
    white-space: inherit;
}

iframe, video {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    width: 100%;
    margin: 1em auto;
    thead {
        background-color: #ddd;
        th {
            padding: 5px;
            min-width: 20px;
        }
    }
    tbody {
        tr:nth-child(2n) {
            background-color: #eee;
        }
        td {
            padding: 5px;
            vertical-align: text-top;
        }
    }
}
