.home.post-list {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    // float: left;
    // flex-wrap: wrap;
    .post-list-item {
        // margin: 2em 0;
        background: white;
        border-radius: 0.5rem;
        box-shadow: 1px 3px 8px 2px rgba(black, 0.9);
        transition: 0.2s;
        padding: 1.5em;
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: 0px;
        }
    }
    .post-list-item:not(:first-child) {
        margin-top: -5rem;
    }
    .post-list-item:not(:last-child):hover,
    .post-list-item:not(:last-child):focus-within {
        transform: translateX(5rem);
        ~ .post-list-item {
            transform: translateY(5rem);
        }
    }
    .post-content{
        h2, h3, h4, h5, h6 {
            &:before {
                content: '';
            }
        }
        & > ul {
            list-style: initial;
        }
    }
    .read-more {
        color: $primary-color;
    }
}
